@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-slate-900;
}

.rich-text-copy {
  @apply w-full lg:w-[720px] lg:mx-auto px-6 lg:px-0;
}

.rich-text-heading {
  @apply w-full lg:w-[720px] lg:mx-auto px-6 lg:px-0 font-bold mb-1;
}

.loading-background {
  @apply bg-gray-300;
}

.introduction-letter {
  @apply bg-orange-100 mx-4 lg:w-4/5 lg:mx-auto italic  rounded-xl p-12 flex flex-col gap-y-6 text-2xl mb-24;
}